:root {
    --main-color: #858589;
    --first-text-decoration-color: #4167FA;
    --second-text-decoration-color: #FFB955;
    --main-bg-color: #E9EAF0;
    --secondary-bd-color: #FAEECA;
}

body{
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    color: var(--main-color);
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--main-color);
}

button {
    border: 2px solid transparent;
    border-color: var(--first-text-decoration-color-text-decoration-color);
    border-radius: 5px;
    height: 40px;
    background-color: var(--main-bg-color);
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: var(--first-text-decoration-color);
    cursor: pointer;
}

li {
    list-style: none;
}