.header {
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px 20px;
    position: fixed;
    background-color: #ffffff;
}

.header__nav ul{
    display: flex;
}

.header__nav ul li a {
    margin-right: 60px;
}

.active a{
    color: var(--first-text-decoration-color);
}

.header__form input{
    height: 30px;
    font-size: 18px;
}

.header__form button{
    margin-left: 60px;
    border: none;
    width: 120px;
}