.main__part{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 108px;
}

.create-edit-shoes__title{
    font-size: 43px;
    margin: 20px auto 8px;
}

.create-edit-shoes__form{
    display: flex;
    flex-direction: column;
}

.create-edit-shoes__form label{
    padding-top: 12px;
    padding-bottom: 7px;
    font-size: 18px;
}

.create-edit-shoes__form input{
    font-size: 18px;
    font-weight: 300;
    padding: 8px;
    font-family: "Roboto", sans-serif;
}


.submit{
    margin-top: 12px;
    border: 2px solid transparent;
    border-color: var(--first-text-decoration-color-text-decoration-color);
    border-radius: 5px;
    background-color: var(--main-bg-color);
    color: var(--first-text-decoration-color);
    cursor: pointer;
}

.warning{
    display: none;
    background-color: #FFD7D7;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 8px;
    border-radius: 10px 0 0 0;
    width: 38%;
}

.warning__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.warning__container h4, p{
    color: #D34D4D;
}

.close {
    color: #aaa;
    top: 5px;
    right: 0;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }